*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('./bg.jpg');
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: #00000080;
}

.title {
    font-size: calc(10px + 3vw);
}

.title p {
    font-size: calc(10px + 1vw);
}

.countdown{
    display: flex;
    width: 60vw;
    justify-content: space-between;
    flex-wrap: wrap;
}

.countdown h1{
    font-size: calc(10px + 8vw);
    text-shadow: 0 0 10px  whitesmoke;
}

.button{
    background-color: whitesmoke;
    color: black;
    padding: 10px;
    cursor: pointer;
    border: solid 2px whitesmoke;
}

.button:hover {
    background-color: black;
    color: whitesmoke;
}